

.footer {
    display: table;
    width: 100%;
    table-layout: fixed
}

.footer .column {
    position: relative;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    background-color: #f5f5f5;
    padding: 45px 25px
}

.footer .column:nth-of-type(even) {
    background-color: #f0f0f0
}

@media screen and (max-width: 991px) {
    .footer .column {
        display: block;
        width: 100%;
        padding: 45px 15px
    }
}

.footer .copyright {
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
    margin-top: -5px
}

.footer .cards {
    width: 100%;
    max-width: 190px;
    margin: 0 auto
}

.footer .subscribe-form {
    max-width: 365px;
    margin: 0 auto
}

.footer .subscribe-form .form-control {
    border-color: #fff
}

.footer .subscribe-form .form-control:focus {
    border-color: #77cde3
}

.footer button[type='submit'] {
    position: absolute;
    display: block;
    font-size: 20px;
    border: none;
    background: none;
    top: 50%;
    margin-top: -19px;
    right: 7px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s
}

.footer button[type='submit']:focus {
    outline: none
}

.footer button[type='submit']:hover {
    color: #77cde3
}
