{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Container -->
<div class="container mt-5 mb-5">
   <div class="row d-flex justify-content-center">
       <div class="col-md-12">
           <div class="card">
  <form action="." method="post" class="container padding-top-3x padding-bottom-2x">{% csrf_token %}
    <div class="row ">

      <!-- Checkout Form -->
      <div >

        <!-- .row -->
        <h5 style="">

          <a href="{% url 'viewcart' %}" class="btn btn-dark">
            <i class="bi bi-arrow-left"></i>
          </a>
          Order Summary</h5>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th width="10%" height="8%;">Image</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for i in cart_items  %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>

                  <td>
                    {% if i.item.profile_pic %}
                    <img src="/media/{{i.item.profile_pic}}" alt="Product">
                    {% else %}
                    <img src="{% static 'img/default/1.png' %}" alt="Shop item">
                    {% endif %}
                  </td>
                  <td>{{i.item}}</td>
                  <td>${{i.item.amount}}</td>
                  <td>{{i.quantity}}</td>
                  <td>${{i.line_item_total}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div><!-- .col-sm-8 -->

      <!-- Sidebar -->
      <div >
        <aside>
          <h3>Cart total: $<small style="">{{object.total}}</small></h3>
          <p class="text-sm text-gray">* Note: This amount includes costs for shipping to address you provided.</p>

          <form id="checkout" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            <div id="payment-form"></div><br>
            <button id="payment" type="submit" class="btn btn-primary col-sm-12">Continue to Pay</button>
          </form>


        </aside>
      </div><!-- .col-md-3.col-sm-4 -->
    </div><!-- .row -->
  </form><!-- .container -->
</div>
</div>
</div>
</div>
<script type="text/javascript">
  var clientToken = "{{client_token}}";
  braintree.setup(clientToken, "dropin", {
    container: "payment-form"
  });
</script>
{% endblock %}
