{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Container -->
<div class="container mt-5 mb-5">
   <div class="row d-flex justify-content-center">
       <div class="col-md-12">
           <div class="card">
<section class="container padding-top-3x padding-bottom" >




<!-- <i style="font-size:180px; color:green;" class="bi bi-check-circle"></i> -->

<div class="col-sm-12" style="justify-content:center;display:flex;">
  <img src ="{% static 'images/payment-success.png' %}" style="width:400px" />
</div>

<div class="col-sm-12" style="text-align:center;">
<h2> Transaction Successful!</h2>
<a href="{% url 'index' %}" class="btn btn-dark ">Back to Shopping</a>


</div>

</section><!-- .container -->

</div>
</div>
</div>
</div>
{% endblock %}
